<md-dialog class="changeMailboxDialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Change Mailbox</h2>
        </div>
    </md-toolbar>
    <div layout="row" style="margin-top: 20px;">
        <md-icon style="margin-left: 20px; margin-right: 10px;">search</md-icon>
        <md-input-container style="margin: 0 20px 0 10px;" flex>
            <label>Search</label>
            <input style="margin-bottom:0;" title="Mailbox Search"/>
        </md-input-container>
    </div>
    <md-dialog-content>
        <md-tabs md-dynamic-height>
            <md-tab label="social">
                <md-content>
                    <md-list flex>
                        <md-list-item ng-repeat="user in mailboxCtrl.users()" class="md-3-line" ng-click="mailboxCtrl.selectUser(user.id)">
                            <img ng-src="{{user.avatar}}" class="md-avatar" alt="{{user.displayName}}"/>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{user.displayName}}</h3>
                                <h4>{{user.emailSystem}}</h4>
                                <p>{{user.email}}</p>
                            </div>
                            <md-button class="md-secondary">more info</md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="exchange">
                <md-content>
                    <md-list flex>
                        <md-list-item ng-repeat="user in mailboxCtrl.users()" class="md-3-line" ng-click="mailboxCtrl.selectUser(user.id)">
                            <img ng-src="{{user.avatar}}" class="md-avatar" alt="{{user.displayName}}"/>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{user.displayName}}</h3>
                                <h4>{{user.emailSystem}}</h4>
                                <p>{{user.email}}</p>
                            </div>
                            <md-button class="md-secondary">more info</md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>