<div ng-controller="archiveController as archCtrl">
    <ul class="collapsible popout z-depth-0" data-collapsible="accordion">
        <li ng-repeat="message in archCtrl.messages | filter: archCtrl.searchQuery()">
            <div class="collapsible-header" ng-if="archCtrl.showMessage(message)">
                <div layout="column">
                    <div class="messageTitle" style="margin-top: 0; margin-bottom: 0;">{{message.subject}}</div>
                    <div>
                        {{archCtrl.subBody(message.body)}}
                    </div>
                </div>
                <span flex></span>
                <div layout="column">
                    <div layout="row">
                        <div layout="row" ng-if="message.box === 'inbox'">
                            <p style="margin-right: 5px; font-weight: 700;">from</p>
                            <p style="margin:auto; font-style: italic;">
                                {{archCtrl.getUserInfo(message.from)[0].email}}</p>
                        </div>
                        <div layout="row" ng-if="message.box === 'sent'">
                            <p style="margin-right: 5px; font-weight: 700;">to</p>
                            <p style="margin:auto; font-style: italic;">
                                {{archCtrl.getUserInfo(message.to)[0].email}}</p>
                        </div>
                        <div ng-include="'/src/views/messageModerationMenu.html'" style="margin:auto;"></div>
                    </div>
                </div>
            </div>
            <div class="collapsible-body" ng-if="archCtrl.showMessage(message)">
                <div layout="row">
                    <img ng-repeat="attachment in message.attachments" ng-src="{{attachment.path}}"
                         class="materialboxed" width="300" height="168.75" style="padding: 5px; cursor: pointer;"/>
                </div>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Message">
                        <md-content>
                            {{message.body}}
                        </md-content>
                    </md-tab>
                    <md-tab label="Details">
                        <table class="responsive-table">
                            <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Sender</td>
                                <td>{{archCtrl.getUserInfo(message.from)[0].displayName}}</td>
                                <td>{{archCtrl.getUserInfo(message.from)[0].email}}</td>
                                <td>
                                    <md-button style="margin: 0;"
                                               ng-click="archCtrl.showUserInfo(archCtrl.getUserInfo(message.from)[0], $event)">
                                        View user details
                                    </md-button>
                                </td>
                            </tr>
                            <tr>
                                <td>Receiver</td>
                                <td>{{archCtrl.getUserInfo(message.to)[0].displayName}}</td>
                                <td>{{archCtrl.getUserInfo(message.to)[0].email}}</td>
                                <td>
                                    <md-button style="margin: 0;"
                                               ng-click="archCtrl.showUserInfo(archCtrl.getUserInfo(message.to)[0], $event)">
                                        View user details
                                    </md-button>
                                </td>
                            </tr>
                            <tr>
                                <td>Mailbox ID</td>
                                <td>{{message.mailbox}}</td>
                            </tr>
                            <tr>
                                <td>Subject</td>
                                <td>{{message.subject}}</td>
                            </tr>
                            <tr>
                                <td>Message ID</td>
                                <td>{{message.id}}</td>
                            </tr>
                            <tr>
                                <td>Storage Path</td>
                                <td>{{archCtrl.constructFolderPath(message.folder)}}</td>
                            </tr>
                            <tr>
                                <td>Box type</td>
                                <td>{{message.box.charAt(0).toUpperCase() + message.box.slice(1)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-tab>
                </md-tabs>
            </div>
        </li>
    </ul>
</div>
<script>
    $('.collapsible').collapsible();
    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });

</script>