<div ng-controller="folderStructureController as folderCtrl">
    <ul id="slide-out" class="side-nav">
        <li ng-if="folderCtrl.selectedUser()">
            <div class="user-view" layout="row" style="margin-bottom: 0">
                <a><img class="circle" ng-src="{{folderCtrl.selectedUser().avatar}}"></a>
                <div layout="column">
                    <a><span class="black-text name">{{folderCtrl.selectedUser().displayName}}</span></a>
                    <a><span class="black-text email">{{folderCtrl.selectedUser().email}}</span></a>
                </div>
            </div>
        </li>
        <li ng-show="folderCtrl.selectedUser()">
            <div class="divider"></div>
        </li>
        <li class="no-padding"><tree src="folderCtrl.selectedUser().folders"></tree></li>
        <li><a style="padding-left: 16px;" ng-click="folderCtrl.changeMailbox($event)">Change Mailbox</a></li>
    </ul>

</div>
<script>
    $(".snToggle").sideNav({
        closeOnClick: true
    });
</script>
