<div class="navbar" ng-controller="toolbarController as tlbrCtrl">

    <nav>
        <div class="nav-wrapper" style="font-size: 24px; padding-left: 20px; padding-right: 20px;">
            <ul class="left">
                <li class="toolbarActions">
                    <md-button class="md-icon-button snToggle" data-activates="slide-out"
                               aria-label="Open side navigation menu">
                        <md-icon class="material-icons md-light" ng-bind="'menu'"></md-icon>
                    </md-button>
                </li>
                <li>
                    {{ctrl.title}}
                </li>
            </ul>
            <ul class="right">
                <li class="toolbarActions" ng-repeat="item in tlbrCtrl.toolbarActions">
                    <div ng-include="item.templateUrl"></div>
                </li>
            </ul>
        </div>
    </nav>

</div>